body {
    font-family: spartan;
    background-color: burlywood;

}

h1{
    color: rgb(151, 90, 33);
}

h2{
    color: rgb(151, 90, 33);

}

h3{
    color: rgb(151, 90, 33);
}

p{
    color: rgb(151, 90, 33);
}

